@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

input:focus{
  outline: 1.7px solid rgb(186, 176, 203);
  
}

.font-logo{
  font-family: "DynaPuff", system-ui;
}

